<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

<connectionStrings><add name="QUANLI_KHOHANGEntities" connectionString="metadata=res://*/Model.QUANLI_KHOHANG.csdl|res://*/Model.QUANLI_KHOHANG.ssdl|res://*/Model.QUANLI_KHOHANG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS01;initial catalog=QUANLI_KHOHANG;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>